/* App.css */
body {
  background-image: url('background.png'); /* Ensure the path is correct */
  background-size: 100% 100%; /* Stretch both horizontally and vertically */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0; /* Removes margin to cover the full viewport */
}

.main-heading {
  font-size: 3.5em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #280d4a; /* Example color */
  font-weight: bold;
  position: absolute;
  top: 15%;        /* Adjust the distance from the top */
  left: 50%;       /* Centers horizontally */
  transform: translateX(-50%); /* Corrects the centering by shifting the element to the left by 50% of its width */
}
.sub-heading{
  font-size: 1em;
  color: #826590;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.try-now {
  padding: 10px 20px; /* Adjust the padding to increase/decrease the button size */
  background-color: #7024ec; /* Green background color */
  color: white; /* White text color */
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  border: none; /* Remove the default border */
  border-radius: 12px; /* Rounded edges */
  font-size: 16px; /* Adjust font size */
  cursor: pointer; /* Cursor changes to pointer on hover */
}
